//Config 
@import "./config/_variables.scss";

// Components
@import "./components/header.scss";
@import "./components/post.scss";

// Screens
@import "./screens/profile.scss";
@import "./screens/home.scss";
@import "./screens/watch.scss";

// Defaults
*{
    text-decoration: none;
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0;
}
input{
    border-style: none;
    outline-color: $blue;
    padding: 0.5em;
}
input[type="submit"],button{
    padding: 1em 2em;
    cursor: pointer;
    background-color: $blue;
    border-radius: 0.5em;
}
body{
    background-color: $bg;
    color: whitesmoke;
}
main{
    padding: 2em;
}
a{
    color: whitesmoke;
}
h1,h2,h3{
    margin: 0;
}