//Config 

// Components
@import "./components/header.scss";

// Screens
@import "./screens/profile.scss";

// Defaults
*{
    text-decoration: none;
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding:0;
}