include mixins/message   
doctype html 
html(lang="ko")
    head 
        title #{siteTitle} | #{pageTitle}
        script(src="/assets/js/main.js",defer)
        link(rel="stylesheet", href="/assets/css/styles.css")
        block scripts

    body
        if messages.info
            +message(messages.info)
        if messages.error 
            +message(messages.error)
        include partials/header
        main
            block content 
