extend ../base 
block content 
    H1 Join 
    form(method="POST")
        input(name="id",type="text",placeholder="ID")
        input(name="pwd",type="password",placeholder="PWD")
        input(type="submit", value="Send")