extend ../base
block content   
    if error 
        p=error
    h1 Login
    form(method="POST")
        input(name="userId",type="text",placeholder="ID")
        input(name="pwd",type="password",placeholder="PASSWORD")
        input(type="submit",value="Login") 