header
    h2.logo 
        a(href="/") nomasta
    nav 
        ul.menu 
            if !loggedIn
                li 
                    a(href="/login") Login
                li 
                    a(href="/join") Join
            else 
                li 
                    a(href="/logout") Logout
                li 
                    a(href="/posts/upload") Upload 
        if loggedIn
            div.userbox
                a(href=`/users/${loggedInUser.userId}`)
                    img(src=loggedInUser.avatarUrl).avatar
                p=loggedInUser.name