header
    nav 
        ul.menu 
            li 
                a(href="/") home 
            if !loggedIn
                li 
                    a(href="/login") Login
                li 
                    a(href="/join") Join
            else 
                li 
                    a(href="/logout") Logout
    if loggedIn
        div.userbox
            a(href=`/users/${loggedInUser.userId}`)
                img(src=loggedInUser.avatarUrl).avatar
            p=loggedInUser.name