header
    if loggedIn 
        p Hello, #{loggedInUser.userId}!😁
    nav 
        ul 
            li 
                a(href="/") home 
            if !loggedIn
                li 
                    a(href="/login") Login
                li 
                    a(href="/join") Join
            else 
                li 
                    a(href="/logout") Logout